<%- include header %>
<% posts.forEach(function (post, index) { %>
  <p>
    <h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2>
    <a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head" /></a>
  </p>
  <p class="info">
    name：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
    time：<%= post.time.minute %> | 
    tags：
    <% post.tags.forEach(function (tag, index) { %>
      <% if (tag) { %>
        <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
      <% } %>
    <% }) %>
    <% if (post.reprint_info.reprint_from) { %>
      <br><a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">reprint</a>
    <% } %>
  </p>
  <p><%- post.post %></p>
  <p class="info">
    post.pv：<%= post.pv %> | 
    comments：<%= post.comments.length %> | 
    post reprint：
    <% if (post.reprint_info.reprint_to) { %>
      <%= post.reprint_info.reprint_to.length %>
    <% } else { %>
      <%= 0 %>
    <% } %>
  </p>
<% }) %>
<%- include paging %>
<%- include footer %>